body,
body * {
   box-sizing: border-box; /*width skaicija ne vidu, o isore*/
   margin: 0; /*visi elementai neatsistumdineja*/
   padding: 0; /*kad nebutu storas*/
 }

 body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
   padding: 40px 20px;
 }
 .about {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 }
 
 .about > div{
   width: 800px;
   font-size: 30px;
 }

 @media (max-width: 900px) {
   .about > div{
      width: 600px;
      font-size: 25px;
    }
 }

 @media (max-width: 700px) {
   .about > div{
      width: 400px;
      font-size: 20px;
    }
 }
 @media (max-width: 500px) {
   .about > div{
      width: 100%;
      font-size: 18px;
    }
 }

 @media print {
   .about {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
 }